.header {
    padding: 24px 0;
    width: 100%;
}

.nav {
    max-width: 100%;
    width: 1024px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .header {
        padding: 24px 12px;
    }
}
