html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #383838;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #0070f3;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

iframe {
  max-width: 100%;
}

code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  white-space: pre-wrap;
  overflow-x: auto;
  background-color: #eee;
  padding: 4px 10px;
}
