.meta {
  text-align: right;
  display: grid;
  grid-gap: 0.7em;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .meta {
    margin-bottom: 36px;
  }
}

.author {
  margin-top: 90px;
}

@media (max-width: 1024px) {
  .author {
    margin-top: 60px;
  }
}

.related_container {
  margin: 120px auto 0;
  max-width: 740px;
  width: 90%;
}

.related_container h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 60px;
}
