.meta {
  text-align: right;
  display: grid;
  grid-gap: 0.7em;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .meta {
    margin-bottom: 36px;
  }
}

.author {
  margin-top: 90px;
}

@media (max-width: 1024px) {
  .author {
    margin-top: 60px;
  }
}
